.Card {
    font-family: 'Nunito';
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .card {
    
    border: 1px solid transparent;
     border-radius: 8px;
    background: transparent;
    overflow: hidden;
    height: 370px;
    width: 240px;
    color: #fff;
    cursor: pointer;
  }

  .card_title{
    display: flex;
    justify-content: space-between;
  }

  .rating{
    margin-top: 10px;
  }
  

  .card_title h1{
    color: black;
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 22px;
    margin-left: -65px;
  }
  
  .card-top > img {
 
    width: 100%;
    height: 200px;
    /* width:300px ; */
    border-radius: 10px;
    object-fit: cover;
    background: black;
  }
  
  .card-bottom {
    color: black;
    margin-left: 5px;
    margin-top: -5px;
  }
  
  .reservation {
    color: black;
    font-family: 'Nunito';
    font-size: 19px;
    position: relative;
  }