*{
  margin: 0;
  padding: 0;
 }
 body{
  height: 600px;
 }
 #header {
    background-color: white;
    padding: 0px 0px 0px 70px;
    margin: 10px 300px 20px 290px;
    height: 95px;
  }

  .type {
    padding: 20px 30px 10px 0px;
  }
 .main-container {
    background-color: #fee2b3;
    padding: 1rem;
  }

  .my-reservation {
    width: 40px;
    height: 40px;
    border: 1px solid #ff5200;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 12px;
    float: left;
    color: white;
    background-color: #ff5200;
  }

  #header .thank-reservation {
    margin-bottom: -50px;
    display: inline-block;
    padding-left: 20px;
  }

  #header .my_reservation {
    color: #ff5200;
    font-weight: bold;
    margin-bottom: 20px;
    float: left;
  }

  .reservation_code {
    width: 480px;
    font-size: large;
    justify-content: center;
    float: right;
    margin-right: 20%;
    height: 490px;
    border: 1px solid #dfdfdf;
    padding: 20px;
    background: #fff;
    margin-bottom: 50px;
  }

  .table {
    text-decoration: underline #ff5200;
  }

  #code {
    text-align: center;

  }

  .icon {
    padding-right: 10px;
    margin-left: 1px;
    margin-top: 10px;
    color: #ff5200;

  }
  .icons{
    margin-left: 8.5px;
  }

  .form-group {
    border: none;
  }

  .reservation-form .text-field input {
    outline: none;
    background-color: transparent;
    color: inherit;
   margin-top: 10px;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 0px;
    border: none;
    border-bottom: 1px solid rgb(3, 3, 3);
  }
  

  .input-form {
    border: 1px solid rgb(97, 97, 97);
  }


  .text-field {
    display: flex;
    padding: 5px;
  }

  .code {
    background-color: #fee2b3;
    border: 1px solid #fee2b3;
    border-radius: 5px;
    color: #ff5200;
    border-bottom: 8px solid #ff5200;
    font-size: large;
  }

  .reserve-me {
    width: 440px;
    height: 40px;
    justify-content: center;
    justify-items: baseline;
    border-radius: 2px;
    font-family: 'Nunito';
    font-size: large;
    background-color: #ff5200;
    color: #fee2b3;
    border: 1px solid #ff5200;
   margin-left: -20px;
    margin-top:60px;
  }

  
  .not-reserve-me {
    width: 350px;
    height: 40px;
    justify-content: center;
    justify-items: baseline;
    border-radius: 2px;
    font-family: 'Nunito';
    font-size: large;
    background-color: #ff5200;
    color: #fee2b3;
    border: 1px solid #ff5200;
   margin-left: 39px;
    margin-top:60px;
  }

  .copyrights{
      margin-top: 20px;
      margin-left: 30px
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff7a42;
    text-align: center;
    height: 10vh;
    margin-bottom: -100px;
    margin-top: 30px;
    font-family: "Nunito";
  } 

  .container-3 {
    width: 25%;
    margin-left: 19.5%;
    margin-right: 20px;
    height: 45vh;
    
    background-color: white; 
  }

  .reserve-image {
    width: 100%;
    height: 20vh;
  }

  .container-graph {
    width: 25%;
    height: 37vh;
    margin-left: 19.5%;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 50px;
  }

  .gmap_canvas{
      margin-top: -10px;
      width: 200px;
  }

  .no_of_res{
    display: inline;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 5px;
   font-family: 'Nunito'; 
  }
  .dhaba_location_name{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Nunito'; 
  }

  .ratings {
    display: flex;
    margin-left: 20px;
    margin-top: 190px;
  }

  .line_1{
      position: absolute;
      margin-top: -2px;
      border-right: 2px solid black;
      height: 25px;
      margin-left: 110px;
    }

    .resno{
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 500;
      margin-top: -5px;
      font-size: 17px;
    }

  .dhaba-phone {
    margin-top: -10px;
    margin-left: 10px;
  }

  .email {
   margin-left: 180px;
    /* margin-bottom: 10px; */
    color: orangered;
    margin-top: -15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito';
  }

  .hr-line {
    display: block;
    color: #000;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
     overflow: hidden; 
     border-style: inset; 
     border-width: 1px;
  }

  .loc_details{
      margin-top: -180px;
  }

  .dhaba_name_loc { 
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito';
  }


  .view>.view-button {
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
    height: 25px;
    width: 80%;
    margin-left: 35px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    font-family: 'Nunito';
  }

  .dhaba-phone{
      display: flex;
      font-family: 'Nunito';
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
    color: #000;
  }

  .detail {
    margin-left: 20px;

    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito';
    color: #000;
  }

  .button>.get-direction {
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    display: inline-flex;
    font-family: 'Nunito';
  }

  .address{
      font-size: 18px;
    font-weight: 500;
    font-family: 'Nunito';
    color: #000;
    margin-top: 10px;
    margin-left: 20px;
  }

  .reason{
   display: inline;
  margin-top: 10px;
  
  }
  input{
    width: 15%;
    margin: 0px 0px 0px 0px;

  }

  .main-div{
    margin-top: 20px;
  }